PORT=3000
DOMAIN=https://www.loveoftruth.net
STRIPE_PUBLISHABLE_KEY=pk_live_replace_me
STRIPE_SECRET_KEY=sk_live_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
RESEND_API_KEY=re_replace_me
ORDER_FROM_EMAIL=orders@loveoftruth.net
ADMIN_NOTIFY_EMAIL=mfgrasso2011@gmail.com
ENABLE_STRIPE_TAX=true
SHIPPING_COUNTRIES=US
